
a {
    color: blue;
}

a:hover {
    text-decoration: underline;
}

h3 {
    font-size: 12pt;
}

ul {
    list-style-type: none;
}

label {
    font-weight: normal;
}

path {
    fill-opacity: .0;
    stroke: gray;
    stroke-width: 1px;
}

.leaflet-clickable {
    fill-opacity: .8;
}

/* path:hover { */
/*     fill: brown; */
/*     fill-opacity: .7; */
/* } */

.content {
    height: 700px;
}

.panel_play {
    position: absolute;
    top: 10px;
    left: 50px;
    width: 265px;
    padding: 4px;
    background-color: white;
    z-index: 8000;
    border:1px solid gray;
    border-radius:5px;
}

.panel_play span {
    vertical-align: middle;
}

.panel_play input {
    vertical-align: middle;
}

.panel_container {
    position: absolute;
    margin-left: 10px;
    margin-top: 80px;
    width: 28px;
    height: 28px;
    background-color: white;
    z-index: 9999;
    background-image: url('../img/settings.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size:20px 20px;
    border-radius: 4px;
    border: solid gray 1px;
}

.panel_container > .controls {
    display:none;
    width: 200px;
    padding-left: 4px;
    padding-bottom: 4px;
    background-color: white;
    border: solid black 1px;
    border-radius:4px;
    overflow-y: scroll;
    height: 800px;
}

.panel_container > .controls > .noga {

}

.panel_container > .controls > .noga ul {
    margin: 0;
    padding: 0;
    margin-right: 5px;
}

.panel_container > .controls > .noga ul li {
    padding-left: 5px;
}

.panel_container > .controls > .noga img {
    width: 14px;
    height: 14px;
}

.mapc {
    position:absolute;
    float:rigth;
    width:100%;
    height:100%;
}

#map {
    width: 100%;
    height: 100%;
    z-index: 1;
}
